<div class="widget gsc-socials iconOr_1 style-1">
    <a href="https://web.facebook.com/profile.php?id=100067672484915&amp;_rdc=1&amp;_rdr">
        <i class="fa-brands  fa-facebook"></i>
    </a> 
    <a href="https://twitter.com/au_khenifra">
        <i class="fa-brands  fa-x-twitter"></i>
    </a> 
    <a href="youtube.com">
        <i class="fab fa-youtube"></i>
    </a>
    <a href="https://twitter.com/au_khenifra">
        <i class="fa-brands fa-instagram"></i>
    </a> 
    
</div>