.gsc-chart{
   text-align: center;
   .content{
      text-align: center;
      > div{
         display: block;
      }
      .icon{
         font-size: 25px;
         margin-top: 5px;
      }
      .title{
         font-weight: 600;    
         position: relative;
         font-size: 18px;
         color: $black;
         font-family: $font-second;
         margin: 20px 0 15px;
      }
   }
}